<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link href="/fonts.css" rel="stylesheet" charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
<body>

  <div class="container_post">
    {{ content | replace: "µµ", "&emsp;" }}
  </div>
  <div class="footer">
  |<a href="/"> 返回V's </a>|
      <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'Vv1222',
    repo: 'vv1222.github.com',
    oauth: {
        client_id: '3c472ea296d4e63b04bb',
        client_secret: '0f7a873b3477f5da1e86e41b1990969f12a5f0af',
    },
});
gitment.render('gitmentContainer');
</script>
</div>
  <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
 </div> 
   <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

       
</body>
</html>
