---
layout: default_post
---
<header class="masthead">        
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}
    {{ site.description }}
    </a>
  </h1>
</header>      
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {{ content | replace: "µµ", "&emsp;" }}
  <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'Vv1222',
    repo: 'vv1222.github.com',
    oauth: {
        client_id: '3c472ea296d4e63b04bb',
        client_secret: '0f7a873b3477f5da1e86e41b1990969f12a5f0af',
    },
});
gitment.render('gitmentContainer');
</script>
</div>
